@use "/app/styles/variables/colors.scss" as c;


.btn {
    font-family: regular;
    border-radius: 30px;
    transition: 0.2s;
}

.btn:hover {
    background-color: c.$blue110;
    color: c.$surface1;
}

.btn--disabled {
    color: c.$disabled;
    background-color: c.$disabledBtn;
}

.btn-smooth {
    color: c.$default;
    background-color: c.$blue050;
    width: 264px;
}

.btn--default {}