.result-container {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: regular;
    padding-bottom: 10px;

    &__title {
        font-family: bold;
    }
}




@media screen and (min-width: 296px) and (max-width: 380px) {
    .result-container {
        padding-left: 10px;
        padding-right: 10px;
        width: 276px;

        &__content {
            width: 244px;
        }

        &__btns {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-self: flex-end;
            height: 88px;
            width: 100%;
        }

        &__btn-download {
            width: 100%;
        }

        &__btn-share {
            width: 100%;
        }

        &__stage {
            position: absolute;
            bottom: -15px;
        }
    }
}


@media screen and (min-width: 380px) and (max-width: 600px) {
    .result-container {
        padding-left: 10px;
        padding-right: 10px;
        width: 360px;


        &__content {
            width: 340px;
        }

        &__btns {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-self: flex-end;
            height: 88px;
            width: 100%;
        }

        &__btn-download {
            width: 100%;
        }

        &__btn-share {
            width: 100%;
        }

        &__stage {
            position: absolute;
            bottom: -15px;
        }

    }
}

@media screen and (min-width: 600px) and (max-width: 640px) {
    .result-container {
        padding-left: 10px;
        padding-right: 10px;
        width: 580px;

        &__content {
            width: 550px;
        }

        &__btns {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-self: flex-end;
            width: 100%;
        }

        &__btn-download {
            width: 285px;
        }

        &__btn-share {
            width: 285px;
        }

        &__stage {
            position: absolute;
            bottom: -15px;
        }
    }
}

@media screen and (min-width: 640px) and (max-width: 904px) {
    .result-container {
        padding-left: 10px;
        padding-right: 10px;
        width: 580px;

        &__content {
            width: 550px;
        }

        &__btns {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-self: flex-end;
            width: 100%;
        }

        &__btn-download {
            width: 285px;
        }

        &__btn-share {
            width: 285px;
        }

        &__stage {
            position: absolute;
            bottom: -15px;
        }

    }
}

@media screen and (min-width: 904px) and (max-width: 1200px) {
    .result-container {
        padding-left: 20px;
        padding-right: 20px;
        width: 864px;

        &__content {
            width: 904px;
        }

        &__btns {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-self: flex-end;
            width: 535px;
        }

        &__btn-download {
            width: 264px;
        }

        &__btn-share {
            width: 262px;
        }

        &__stage {
            position: absolute;
            bottom: 5px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .result-container {
        padding-left: 20px;
        padding-right: 20px;
        width: 864px;

        &__btns {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-self: flex-end;
            width: 535px;
        }

        &__btn-download {
            width: 264px;
        }

        &__btn-share {
            width: 262px;
        }

        &__stage {
            position: absolute;
            bottom: 5px;
        }
    }

}