@use "/app/styles/variables/colors.scss" as c;


.image-loader {

    &__header-title {
        font-family: bold;
        font-size: 20px;
        color: c.$default;
    }

    &__header-info-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: c.$red050;
        border-radius: 30px;
    }

    &__header-info-icon {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 2V2C11.314 2 14 4.686 14 8V8C14 11.314 11.314 14 8 14V14C4.686 14 2 11.314 2 8V8C2 4.686 4.686 2 8 2Z' stroke='%23E12828' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.99935 8.33333V5' stroke='%23E12828' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.99868 10.6667C7.90668 10.6667 7.83202 10.7413 7.83268 10.8333C7.83268 10.9253 7.90735 11 7.99935 11C8.09135 11 8.16602 10.9253 8.16602 10.8333C8.16602 10.7413 8.09135 10.6667 7.99868 10.6667' stroke='%23E12828' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: 50%;
        width: 20px;
        height: 20px;
        margin-left: 10px;
        margin-right: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
    }


    &__header-info-text {
        color: c.$red110;
        font-family: regular;
        font-size: 14px;
    }

}


@media screen and (min-width: 296px) and (max-width: 380px) {

    .image-loader {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        padding-left: 15px;
        padding-right: 15px;

        &__header-info-container {
            height: 76px;
            width: 264px;
        }

        &__form {
            margin-top: 20px;
        }

        &__footer {
            margin-top: 10px;
        }
    }
}

@media screen and (min-width: 380px) and (max-width: 600px) {

    .image-loader {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        padding-left: 15px;
        padding-right: 15px;

        &__header-info-container {
            width: 350px;
        }

        &__form {
            margin-top: 20px;
        }

        &__footer {
            margin-top: 20px;
        }
    }

}

@media screen and (min-width: 600px) and (max-width: 640px) {

    .image-loader {

        display: flex;
        flex-direction: column;
        margin-top: 10px;
        padding-left: 30px;
        padding-right: 30px;

        &__header-info-container {
            height: 36px;
            width: 487px;
        }

        &__form {
            margin-top: 40px;
        }

        &__footer {
            margin-top: 35px;
        }
    }
}

@media screen and (min-width: 640px) and (max-width: 904px) {

    .image-loader {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        padding-left: 30px;
        padding-right: 30px;

        &__header-info-container {
            height: 36px;
            width: 487px;
        }

        &__form {
            margin-top: 40px;
        }

        &__footer {
            margin-top: 35px;
        }


    }
}

@media screen and (min-width: 904px) and (max-width: 1200px) {

    .image-loader {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        padding-left: 60px;
        padding-right: 60px;


        &__header-info-container {
            height: 36px;
            width: 487px;
        }

        &__form {
            margin-top: 30px;
        }

        &__footer {
            margin-top: 50px;
        }


    }
}

@media screen and (min-width: 1200px) {

    .image-loader {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        padding-left: 60px;
        padding-right: 60px;

        &__header-info-container {
            height: 36px;
            width: 487px;
        }

        &__form {
            margin-top: 30px;
        }

        &__footer {
            margin-top: 50px;
        }

        &__footer-btn {
            width: 125px;
            height: 40px;

            &::after {
                content: '\2192';
                display: inline-block;
                vertical-align: middle;
                font-size: 30px;
                margin-left: 15px;
                margin-bottom: 5px;
            }
        }

    }


}