@use "/app/styles/variables/colors.scss" as c;


.container {
    background-color: c.$surface1;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
    height: auto;

    &__status-bar {
        background-color: c.$blue050;
        height: 16px;
        width: 100%;
    }

    &__status-bar-filler {
        background-color: c.$blue100;
        height: 16px;
        width: 100%;
        transform: translateX(-100%);
    }
}


@media screen and (min-width: 296px) and (max-width: 380px) {
    .container {
        width: 296px;
    }
}

@media screen and (min-width: 380px) and (max-width: 600px) {
    .container {
        width: 380px;
    }
}

@media screen and (min-width: 600px) and (max-width: 640px) {
    .container {
        width: 600px;
    }
}

@media screen and (min-width: 640px) and (max-width: 904px) {
    .container {
        width: 600px;
    }

}

@media screen and (min-width: 904px) and (max-width: 1200px) {

    .container {
        width: 900px;
    }

}

@media screen and (min-width: 1200px) {

    .container {
        width: 900px;
    }
}