@keyframes basePosition {
    from {}

    to {
        transform: translateX(-100%);
    }
}


@keyframes firstPosition {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(-66%);

    }
}


@keyframes fromSecondToFirst {
    from {
        transform: translateX(-33%);
    }

    to {
        transform: translateX(-66%);

    }
}


@keyframes secondPosition {
    from {
        transform: translateX(-66%);
    }

    to {
        transform: translateX(-33%);
    }
}

@keyframes thirdPostion {
    from {
        transform: translateX(-33%);
    }

    to {
        transform: translateX(0);
    }
}