@use "/app/styles/variables/colors.scss" as c;
@import url("/app/styles/animations/statusBarAnimations.scss");
@import url("/app/styles/fonts/fonts.scss");
@import url("/app/styles/mixins/nostyle.scss");
@import url("/app/styles/btn-container/btn-container.scss");
@import url("/app/styles/container/container.scss");
@import url("/app/styles/imageLoader/imageLoader.scss");
@import url("/app/styles/upload-list/upload-list.scss");
@import url("/app/styles/btn/btn.scss");
@import url("/app/styles/calendar/calendar.scss");
@import url("/app/styles/form/form.scss");
@import url("/app/styles/radio-container/radio-container.scss");
@import url("/app/styles/input/input.scss");
@import url("/app/styles/input/textarea.scss");
@import url("/app/styles/four-fieldset/four-fieldset.scss");
@import url("/app/styles/form-footer/form-footer.scss");
@import url("/app/styles/result/result.scss");
@import url("/app/styles/result-container/result-container.scss");


html {
  margin: auto;
  height: 100%;
  width: 100%;
  background-color: c.$surface3;
}


body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vh;
}

@media screen and (max-width: 380px) {
  body {
    min-height: 100vh;
    min-width: 296px;
  }
}

@media screen and (max-width: 600px) {
  body {
    min-height: 100vh;
    min-width: 380px;
  }
}

@media screen and (max-width: 640px) {
  body {
    min-height: 100vh;
    min-width: 600px;
  }
}

@media screen and (max-width: 904px) {
  body {
    min-height: 100vh;
    min-width: 640px;
  }
}

@media screen and (max-width: 1200px) {
  body {
    min-height: 100vh;
    min-width: 904px;
  }
}

@media screen and (min-width: 1200px) {
  body {
    min-height: 100vh;
    min-width: 1200px;
  }
}