@font-face {
    font-family: "bold";
    src: url("/assets/fonts/CirceRounded-Bold.otf") format("opentype"),
}

@font-face {
    font-family: "extrabold";
    src: url("/assets/fonts/CirceRounded-ExtraBold.otf") format("opentype"),
}

@font-face {
    font-family: "extralight";
    src: url("/assets/fonts/CirceRounded-ExtraLight.otf") format("opentype"),
}

@font-face {
    font-family: "light";
    src: url("/assets/fonts/CirceRounded-Light.otf") format("opentype"),
}

@font-face {
    font-family: "regular";
    src: url("/assets/fonts/CirceRounded-Regular.otf") format("opentype"),
}

@font-face {
    font-family: "thin";
    src: url("/assets/fonts/CirceRounded-Thin.otf") format("opentype"),
}