@use "/app/styles/variables/colors.scss" as c;


.form-footer {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 776px;
    margin-top: 50px;
    padding-bottom: 20px;

    &__btn {
        height: 40px;
    }

    &__btn-next {
        width: 125px;
    }

    &__btn-result {
        width: 209px;
    }

    &__btn-previous {
        width: 264px;
    }

    &__btn-download {
        width: 264px;
    }

    &__btn-share {
        width: 262px;
    }

    &__buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 481px;
    }


    &__buttons-result {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 535px;
    }


    &__stage {
        font-family: regular;
        color: c.$muted;
    }
}