@use "/app/styles/variables/colors.scss" as c;


.form-footer {

    &__btn {
        height: 40px;
    }

    &__btn-next {
        width: 125px;
    }

    &__stage {
        font-family: regular;
        color: c.$muted;
    }

    &__result-stage {
        font-family: regular;
        color: c.$muted;
    }

}

@media screen and (min-width: 296px) and (max-width: 380px) {

    .form-footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__image-wrapp {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        &__form-wrapp {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 130px;
        }

        &__form-stage {
            order: 2;
        }

        &__form-btns {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 88px;
            order: 1;
        }

        &__btn-previous {
            order: 1;
        }

        &__btn-result {
            width: 264px;
        }

        &__btn-previous {
            width: 264px;
        }

        &__result-wrapp {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 130px;
            width: 100%;
        }

        &__btn-download {
            width: 100%;
        }

        &__btn-share {
            width: 100%;
        }

        &__result-stage {
            order: 2;
            align-self: flex-start;
        }

        &__result-btns {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            height: 88px;
        }
    }
}

@media screen and (min-width: 380px) and (max-width: 600px) {

    .form-footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__image-wrapp {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        &__form-wrapp {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 130px;
        }

        &__form-btns {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 88px;
        }

        &__form-stage {
            order: 1;
        }

        &__btn-previous {
            order: 2;
        }

        &__btn-result {
            width: 100%;
            order: 1;
        }

        &__btn-previous {
            width: 100%;
        }

        &__result-wrapp {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 130px;
            width: 100%;
        }

        &__btn-download {
            width: 100%;
        }

        &__btn-share {
            width: 100%;
        }

        &__result-stage {
            order: 2;
            align-self: flex-start;
        }

        &__result-btns {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            height: 88px;
        }
    }
}

@media screen and (min-width: 600px) and (max-width: 640px) {

    .form-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;

        &__image-wrapp {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        &__form-wrapp {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            width: 100%;
        }

        &__form-btns {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 481px;
        }

        &__btn-result {
            width: 209px;
        }

        &__btn-previous {
            width: 264px;
        }



        &__result-wrapp {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 66px;
            width: 100%;
        }

        &__btn-download {
            width: 285px;
        }

        &__btn-share {
            width: 285px;
        }

        &__result-stage {
            order: 2;
            align-self: flex-start;
        }

        &__result-btns {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
        }
    }
}

@media screen and (min-width: 640px) and (max-width: 904px) {

    .form-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;

        &__result-wrapp {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 66px;
            width: 100%;
        }

        &__image-wrapp {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        &__form-wrapp {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            width: 100%;
        }

        &__form-btns {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 481px;
        }

        &__btn-result {
            width: 209px;
        }

        &__btn-previous {
            width: 264px;
        }

        &__btn-download {
            width: 285px;
        }

        &__btn-share {
            width: 285px;
        }

        &__result-stage {
            order: 2;
            align-self: flex-start;

        }

        &__result-btns {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
        }

    }

}

@media screen and (min-width: 904px) and (max-width: 1200px) {

    .form-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;

        &__image-wrapp {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        &__form-wrapp {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            width: 100%;
        }

        &__form-btns {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 481px;
        }

        &__btn-result {
            width: 209px;
        }

        &__btn-previous {
            width: 264px;
        }

        &__result-wrapp {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            width: 100%;
        }

        &__btn-download {
            width: 264px;
        }

        &__btn-share {
            width: 262px;
        }

        &__result-btns {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 535px;
        }



    }
}

@media screen and (min-width: 1200px) {

    .form-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;

        &__form-wrapp {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            width: 100%;
        }

        &__image-wrapp {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        &__buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 481px;
        }

        &__btn-result {
            width: 209px;
        }

        &__btn-previous {
            width: 264px;
        }

        &__result-wrapp {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            width: 100%;
        }

        &__btn-download {
            width: 264px;
        }

        &__btn-share {
            width: 262px;
        }

        &__result-btns {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 535px;
        }

        &__form-btns {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 481px;
        }
    }
}